/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$age-name: 'age';
$age-x: 375px;
$age-y: 225px;
$age-offset-x: -375px;
$age-offset-y: -225px;
$age-width: 66px;
$age-height: 50px;
$age-total-width: 547px;
$age-total-height: 362px;
$age-image: '../images/sprite.png';
$age: (375px, 225px, -375px, -225px, 66px, 50px, 547px, 362px, '../images/sprite.png', 'age', );
$checkbox-checked-name: 'checkbox-checked';
$checkbox-checked-x: 441px;
$checkbox-checked-y: 253px;
$checkbox-checked-offset-x: -441px;
$checkbox-checked-offset-y: -253px;
$checkbox-checked-width: 16px;
$checkbox-checked-height: 16px;
$checkbox-checked-total-width: 547px;
$checkbox-checked-total-height: 362px;
$checkbox-checked-image: '../images/sprite.png';
$checkbox-checked: (441px, 253px, -441px, -253px, 16px, 16px, 547px, 362px, '../images/sprite.png', 'checkbox-checked', );
$checkbox-name: 'checkbox';
$checkbox-x: 457px;
$checkbox-y: 253px;
$checkbox-offset-x: -457px;
$checkbox-offset-y: -253px;
$checkbox-width: 16px;
$checkbox-height: 16px;
$checkbox-total-width: 547px;
$checkbox-total-height: 362px;
$checkbox-image: '../images/sprite.png';
$checkbox: (457px, 253px, -457px, -253px, 16px, 16px, 547px, 362px, '../images/sprite.png', 'checkbox', );
$copy-name: 'copy';
$copy-x: 305px;
$copy-y: 278px;
$copy-offset-x: -305px;
$copy-offset-y: -278px;
$copy-width: 201px;
$copy-height: 12px;
$copy-total-width: 547px;
$copy-total-height: 362px;
$copy-image: '../images/sprite.png';
$copy: (305px, 278px, -305px, -278px, 201px, 12px, 547px, 362px, '../images/sprite.png', 'copy', );
$hand-liked-name: 'hand--liked';
$hand-liked-x: 523px;
$hand-liked-y: 194px;
$hand-liked-offset-x: -523px;
$hand-liked-offset-y: -194px;
$hand-liked-width: 19px;
$hand-liked-height: 21px;
$hand-liked-total-width: 547px;
$hand-liked-total-height: 362px;
$hand-liked-image: '../images/sprite.png';
$hand-liked: (523px, 194px, -523px, -194px, 19px, 21px, 547px, 362px, '../images/sprite.png', 'hand--liked', );
$hand-name: 'hand';
$hand-x: 523px;
$hand-y: 173px;
$hand-offset-x: -523px;
$hand-offset-y: -173px;
$hand-width: 19px;
$hand-height: 21px;
$hand-total-width: 547px;
$hand-total-height: 362px;
$hand-image: '../images/sprite.png';
$hand: (523px, 173px, -523px, -173px, 19px, 21px, 547px, 362px, '../images/sprite.png', 'hand', );
$logotype-name: 'logotype';
$logotype-x: 375px;
$logotype-y: 173px;
$logotype-offset-x: -375px;
$logotype-offset-y: -173px;
$logotype-width: 148px;
$logotype-height: 52px;
$logotype-total-width: 547px;
$logotype-total-height: 362px;
$logotype-image: '../images/sprite.png';
$logotype: (375px, 173px, -375px, -173px, 148px, 52px, 547px, 362px, '../images/sprite.png', 'logotype', );
$storks-name: 'storks';
$storks-x: 0px;
$storks-y: 0px;
$storks-offset-x: 0px;
$storks-offset-y: 0px;
$storks-width: 375px;
$storks-height: 105px;
$storks-total-width: 547px;
$storks-total-height: 362px;
$storks-image: '../images/sprite.png';
$storks: (0px, 0px, 0px, 0px, 375px, 105px, 547px, 362px, '../images/sprite.png', 'storks', );
$team-activities-1-name: 'team-activities-1';
$team-activities-1-x: 375px;
$team-activities-1-y: 0px;
$team-activities-1-offset-x: -375px;
$team-activities-1-offset-y: 0px;
$team-activities-1-width: 172px;
$team-activities-1-height: 173px;
$team-activities-1-total-width: 547px;
$team-activities-1-total-height: 362px;
$team-activities-1-image: '../images/sprite.png';
$team-activities-1: (375px, 0px, -375px, 0px, 172px, 173px, 547px, 362px, '../images/sprite.png', 'team-activities-1', );
$team-activities-2-name: 'team-activities-2';
$team-activities-2-x: 172px;
$team-activities-2-y: 105px;
$team-activities-2-offset-x: -172px;
$team-activities-2-offset-y: -105px;
$team-activities-2-width: 172px;
$team-activities-2-height: 173px;
$team-activities-2-total-width: 547px;
$team-activities-2-total-height: 362px;
$team-activities-2-image: '../images/sprite.png';
$team-activities-2: (172px, 105px, -172px, -105px, 172px, 173px, 547px, 362px, '../images/sprite.png', 'team-activities-2', );
$team-activities-3-name: 'team-activities-3';
$team-activities-3-x: 0px;
$team-activities-3-y: 105px;
$team-activities-3-offset-x: 0px;
$team-activities-3-offset-y: -105px;
$team-activities-3-width: 172px;
$team-activities-3-height: 173px;
$team-activities-3-total-width: 547px;
$team-activities-3-total-height: 362px;
$team-activities-3-image: '../images/sprite.png';
$team-activities-3: (0px, 105px, 0px, -105px, 172px, 173px, 547px, 362px, '../images/sprite.png', 'team-activities-3', );
$team-activities-arrow-1-name: 'team-activities-arrow-1';
$team-activities-arrow-1-x: 441px;
$team-activities-arrow-1-y: 225px;
$team-activities-arrow-1-offset-x: -441px;
$team-activities-arrow-1-offset-y: -225px;
$team-activities-arrow-1-width: 104px;
$team-activities-arrow-1-height: 28px;
$team-activities-arrow-1-total-width: 547px;
$team-activities-arrow-1-total-height: 362px;
$team-activities-arrow-1-image: '../images/sprite.png';
$team-activities-arrow-1: (441px, 225px, -441px, -225px, 104px, 28px, 547px, 362px, '../images/sprite.png', 'team-activities-arrow-1', );
$team-activities-arrow-2-name: 'team-activities-arrow-2';
$team-activities-arrow-2-x: 201px;
$team-activities-arrow-2-y: 278px;
$team-activities-arrow-2-offset-x: -201px;
$team-activities-arrow-2-offset-y: -278px;
$team-activities-arrow-2-width: 104px;
$team-activities-arrow-2-height: 28px;
$team-activities-arrow-2-total-width: 547px;
$team-activities-arrow-2-total-height: 362px;
$team-activities-arrow-2-image: '../images/sprite.png';
$team-activities-arrow-2: (201px, 278px, -201px, -278px, 104px, 28px, 547px, 362px, '../images/sprite.png', 'team-activities-arrow-2', );
$team-logo-name: 'team-logo';
$team-logo-x: 0px;
$team-logo-y: 278px;
$team-logo-offset-x: 0px;
$team-logo-offset-y: -278px;
$team-logo-width: 201px;
$team-logo-height: 84px;
$team-logo-total-width: 547px;
$team-logo-total-height: 362px;
$team-logo-image: '../images/sprite.png';
$team-logo: (0px, 278px, 0px, -278px, 201px, 84px, 547px, 362px, '../images/sprite.png', 'team-logo', );
$spritesheet-width: 547px;
$spritesheet-height: 362px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($age, $checkbox-checked, $checkbox, $copy, $hand-liked, $hand, $logotype, $storks, $team-activities-1, $team-activities-2, $team-activities-3, $team-activities-arrow-1, $team-activities-arrow-2, $team-logo, );
$spritesheet: (547px, 362px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
