@charset "UTF-8";
/* ==========================================================================
 * Layout
 * ========================================================================== */

.container{
	overflow: hidden;
	position: relative;
	background: #2d64b6;
	min-height: 100vh;

	background: #2d64b6 url(../images/bg/home.jpg) 50% 50% no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
	&__copy,
	&__rules,
	&__age{		
		position: fixed;
		z-index: 200;
	}

	&__copy{
		text-indent: -9999px;
		bottom: 15px;
		left: 15px;
		@include sprite($copy);
	}

	&__age{
		text-indent: -9999px;
		top: 5px;
		right: 5px;
		@include sprite($age);
	}

	&__rules{
		position: absolute;
		right: 15px;
		bottom: 15px;
		font-family: $sans;
		font-weight: 400;
		color: #fff;
		font-size: 14px;
	}

}

/* ==========================================================================
 * section
 * ========================================================================== */

.section{
	padding: 80px 0 80px;

	&__wrap{
		@include clearfix;
		max-width: 800px;
		padding: 0 10px;
		margin: auto;
	}

	&__title{
		text-align: center;
		margin: 0 0 40px;
		font-weight: 700;
		font-size: 36px;
		line-height: (50/36);
	}

	&__text{
		margin: 0 0 30px;		
	}
}


/* ==========================================================================
 * page
 * ========================================================================== */

.page{
	color: #fff;


	&__logo{
		position: fixed;
		top: 30px;
		left: 10px;
	}

	&__back-placeholder{
		text-align: center;
		margin: 0 0 20px;
	}

	&__back{
		opacity: .5;

		&:hover{
			opacity: 1;
		}
	}

	&__title{
		color: $orange;
		text-transform: uppercase;
	}

	&__text{
		font-family: $sans;
		font-size: 18px;
		font-weight: 400;
	}
}

/* ==========================================================================
 * app
 * ========================================================================== */

.app{

	background: #2d64b6;

	&__page{
		min-height: 100vh;
		padding: 20px 10px;

		background: #2d64b6 url(../images/bg/home.jpg) 50% 50% no-repeat;
		background-size: cover;
		background-attachment: fixed;
		color: #fff;


		display: flex;
		justify-content: center;
		align-items: center;

	}

	&__loader{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 500;
	}

	&__error{
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 550;
	}

	&__logo{
		position: fixed;
		top: 30px;
		left: 10px;
	}
	
	&__counters{
		position: fixed;
		top: 140px;
		left: 0;
	}

	&__content{
		text-align: center;
	}

	&__title{
		color: $orange;
		font-size: 36px;
		margin: 0 0 20px;
	}

	&__back-placeholder{
		text-align: center;
		margin: 0 0 20px;
	}

	&__back{
		opacity: .5;

		&:hover{
			opacity: 1;
		}
	}

	&__title{
		font-size: 30px;
		margin: 0 0 20px;
		text-transform: uppercase;
	}

	&__modal{
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;  
		z-index: 500;
	}

}

/* ==========================================================================
 * modal
 * ========================================================================== */

.modal{
	background: rgba(0,0,0,.5);

	text-align: center;
	padding: 5%;

	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0;
	visibility: hidden;

	&--visible{
		opacity: 1;
		visibility: visible;
	}
	
	&__content{
		background: #fff;
		color: $text;
		padding: 30px;
		border-radius: 15px;
	}

	&__title{
		color: $orange;
		font-size: 36px;
		margin: 0 0 20px;
		text-align: center;
		text-transform: uppercase;
	}

	&__video-placeholder{
		
		margin: 0 0 20px;

	}

	&__button{
		width: 300px;
	}
}

/* ==========================================================================
 * error-message
 * ========================================================================== */

.error-message{
	padding: 10px;
	background: #ff7f7f;
}
 

/* ==========================================================================
 * loader
 * ========================================================================== */

.loader{
	background: rgba(255,255,255,.5);	
	text-align: center;
	opacity: 0;
	visibility: hidden;
	
	transition: all .2s;

	display: flex;

	align-items: center;
	justify-content: center;
	
	&__content{
		width: 80px;
		height: 80px;
		display: inline-block;
		animation: spin .6s infinite linear;

		svg{
			width: 80px;
			height: 80px;
		}
	}

	&--visible{
		opacity: 1;
		visibility: visible;
	}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


/* ==========================================================================
 * storks-logo
 * ========================================================================== */

.storks-logo{
	&__button{
		background-color: transparent;
		display: inline-block;
		text-indent: -9999px;
		@include sprite($team-logo);
		cursor: pointer;
		outline: none;
		border: 0;
	}
}


/* ==========================================================================
 * user
 * ========================================================================== */

.user{
	
	&__avatar-placeholder{
		width: 40px;
		height: 40px;
		overflow: hidden;
		border-radius: 50%;
		display: inline-block;
		vertical-align: middle;
		margin: 0 15px 0 0;
	}

	&__avatar{
		width: 100%;
	}

	&__content{
		display: inline-block;
		vertical-align: middle;
	}

	&__name-outer{
		transform: skewX(-15deg);	
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px 0 0;
		border-radius: 6px;
		padding: 9px;
		background: #fff;
		color: #000;	
	}

	&__name{
		transform: skewX(15deg);
	}

	&__logout{
		display: inline-block;	
		vertical-align: middle;	
	}
}

/* ==========================================================================
 * team
 * ========================================================================== */

.team{
	background-image: url(../images/bg/team.jpg);
	text-align: center;
	
	&__activities{
		margin: 0 0 25px;
	}

	&__user{
		padding: 30px 0 0;
	}
}

.team-activities{
	
	&__list{
		
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		margin: 0 12px;
		position: relative;

		&:before{
			content: '';
			position: absolute;
		}
		
		&:nth-child(1):before{
			top: 15px;
			left: 134px;
			@include sprite($team-activities-arrow-1);
		}
		
		&:nth-child(2):before{
			bottom: 15px;
			left: 134px;
			@include sprite($team-activities-arrow-2);
		}
	}

	&__button{
		outline: none;
		background: none;
		border: 0;
		color: #fff;
		font-size: 18px;
		font-family: $futuris;
		padding: 0;
		margin: 0;
				
		&--1{
			@include sprite($team-activities-1);
		}

		&--2{
			@include sprite($team-activities-2);
		}

		&--3{
			@include sprite($team-activities-3);
		}
	}
}

.team-select{
	color: #fff;

	&__title{
		text-transform: uppercase;
		font-size: 36px;
		margin: 0 0 20px;
	}

	&__buttons{
		text-align: center;
	}

	&__button-placeholder{
		display: inline-block;
		margin: 0 10px;
	}

	&__button{
		min-width: 295px;
	}
}

/* ==========================================================================
 * counters
 * ========================================================================== */

.counters{

	&__list{
		margin: 0 0 0 -30px;
	}

	&__item{
		margin: 0 0 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}

	&__content{
		display: inline-block;
		@include clearfix;
		font-size: 18px;
		color: #fff;
		border-radius: 0 6px 6px 0;		

		transform: skewX(-18deg);
	}

	&__title{
		background: #fff;
		border-radius: 0 6px 6px 0;
		color: $orange;
		padding: 0 10px 3px 30px;
		float: left;
		position: relative;
		z-index: 2;
	}

	&__data{		
		float: left;
		background: $orange;
		border-radius: 0 6px 6px 0;
		padding-left: 20px;
		margin-left: -20px;
	}


	&__text{
		display: block;
		padding: 17px;
		transform: skewX(18deg);
	}
}



/* ==========================================================================
 * home-kids
 * ========================================================================== */

.home-kids{
	
	&__counters{
		top: 50px;
	}
	
	&__content{
		text-align: center;		
	}

	&__logo-placeholder{
		margin: 0 0 20px;
	}

	&__logo{
		display: inline-block;
		text-indent: -9999px;
		@include sprite($storks);
	}

	&__title{
		margin: 0 0 50px;
		font-size: 23px;
		text-transform: uppercase;
	}

	&__activities{
		
	}

}

.home-kids-activities{

	&__list{
		
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		margin: 0 -10px 0;

		&:nth-child(1),
		&:nth-child(3){
			margin-top: 60px;
		}
	}

	&__button{
		background: none;
		width: 339px;
		height: 339px;
		border: 0;
		text-indent: -9999px;

		cursor: pointer;
		transition: all .1s;

		outline: none;

		&:hover{
			transform: scale(1.1);
		}

		&--1{
			background: url(../images/activities/1.png) 50% 0 no-repeat;
		}

		&--2{
			background: url(../images/activities/2.png) 50% 0 no-repeat;
		}

		&--3{
			background: url(../images/activities/3.png) 50% 0 no-repeat;
		}
	}
}


/* ==========================================================================
 * parents-history
 * ========================================================================== */

.parents-history{

	background-attachment: fixed;

	&__content{
		max-width: 750px;
		margin: 0 auto;
	}
	
	&__title{
		color: $orange;
		font-size: 30px;
		margin: 0 0 20px;
		text-transform: uppercase;
		text-align: center;
	}

	&__text{
		text-align: center;
		margin: 0 0 20px;
		font-size: 24px;
		font-weight: 300;
		font-family: $sans;
	}
}

/* ==========================================================================
 * quiz
 * ========================================================================== */

.quiz{
	//padding-top: 0;
	//display: block;

	&:after{
		content: url(../images/stork.png);
		position: absolute;
		bottom: -10px;
		left: 50%;
		margin: 0 0 0 250px;
	}

	&__content{
		max-width: 800px;
		margin: 0 auto;
		//background: url(../images/stork-2.png) 35% 0 no-repeat;
		//padding: 164px 0 0; 
	}

	&__frame{
		width: 770px;
		margin: 0 auto 30px;
		background: #00adce;
		padding: 11px;
		border-radius: 4px;

		box-shadow: 0 5px 10px rgba(0,0,0,.2), 
					inset 0 0 15px rgba(255,255,255,.9);
	}

	&__frame-inner{
		min-height: 480px;
		background: #15527c;	
		background: linear-gradient(to bottom, #15527c 0%, #114264 100%);
		
		box-shadow: 0 0 15px rgba(255,255,255,.9),
					inset 0 0 15px rgba(0,0,0,.5);


		display: flex;
		justify-content: center;
		align-items: center;

	}

	&__frame-content{
		
	}

	&__questions{
		
	}

	&__item{
		display: none;

		&--visible{
			display: block;
		}
	}
}

.quiz-item{
	text-align: center;

	&__number{
		font-family: $sans;
		font-weight: 300;
		font-size: 18px;
		margin: 0 0 20px;
	}

	&__title{
		//max-width: 460px;
		font-size: 36px;
		font-family: $sans;
		font-weight: 300;
		margin: 0 auto 30px;
	}

	&__answers{
		margin: 0 0 -25px;
	}

	&__answer{
		margin: 0 0 25px;

		&:list-child{
			margin-bottom: 0;
		}

		&--multi{
			display: inline-block;
			width: 35%;
			text-align: left;
		}
	}

	&__answer-button{
		background: none;
		border: 0;
		font-size: 32px;
		font-family: $futuris;
		color: #fff;
		cursor: pointer;
		outline: none;

		&:hover{
			text-shadow: 0 0 30px #fff;
		}
	}

	&__button-placeholder{
		padding: 20px 0 0;
	}
}

.quiz-results{
	text-align: center;

	&__title{
		font-size: 36px;
		margin: 0 0 40px;
		text-transform: uppercase;
	}

	&__list{
		font-size: 26px;
		margin: 0 0 40px;
	}

	&__item{
		margin: 0 0 10px;
	}

	&__buttton-placeholder{
		
	}
}

.quiz-checkbox{
	display: inline-block;
	position: relative;
	cursor: pointer; 

	&__input{
		position: absolute;
		left: -9999px;

		&:checked + .quiz-checkbox__text:before{
			@include sprite($quiz-check-checked);
		}
	}

	&__text{
		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			@include sprite($quiz-check);
			margin: -2px 10px 0 0;
		}
		font-size: 25px;
	}
}
/* ==========================================================================
 * game
 * ========================================================================== */

.game{	
	
	background-image: url(../images/bg/game.jpg);
	background-attachment: fixed;
	padding-top: 70px;

	&__content{
		
	}

	&__images{
		
	}
}

.game-images{
	text-align: center;

	&__title{
		margin: 0 0 20px;
		font-size: 36px;
	}

	&__counter{
		margin: 0 0 30px;
		font-size: 18px;
	}

	&__list{
		margin: 0 0 -20px;
	}

	&__item{
		display: inline-block;
		margin: 0 10px 20px;
	}	

	&__image{
		
	}

}	

.game-image{
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	cursor: pointer;
	
	&__image{
		display: block;
		width: 500px;
		height: 500px;
	}

	&__answer{
		position: absolute;
		
		//opacity: .7;
		
		opacity: 0;
		//visibility: hidden;
		//opacity: 1;

		transition: all .4s;

		&--letter{
			bottom: 9px;
			right: 125px;

			background: url(../images/game/answers/letter.jpg) 50% 0 no-repeat;
			width: image-width('../assets/images/game/answers/letter.jpg');
			height: image-height('../assets/images/game/answers/letter.jpg');
		}

		&--stork-mother{
			top: 21px;
			right: 76px;

			background: url(../images/game/answers/stork-mother.jpg) 50% 0 no-repeat;
			width: image-width('../assets/images/game/answers/stork-mother.jpg');
			height: image-height('../assets/images/game/answers/stork-mother.jpg');
		}

		&--hair{
			bottom: 79px;
			left: 55px;

			background: url(../images/game/answers/heir.jpg) 50% 0 no-repeat;
			width: image-width('../assets/images/game/answers/heir.jpg');
			height: image-height('../assets/images/game/answers/heir.jpg');
		}

		&--yes{
			bottom: 93px;
			left: 83px;

			background: url(../images/game/answers/yes.jpg) 50% 0 no-repeat;
			width: image-width('../assets/images/game/answers/yes.jpg');
			height: image-height('../assets/images/game/answers/yes.jpg');
		}

		&--china{
			bottom: 83px;
			right: 76px;

			background: url(../images/game/answers/china.jpg) 50% 0 no-repeat;
			width: image-width('../assets/images/game/answers/china.jpg');
			height: image-height('../assets/images/game/answers/china.jpg');
		}

		&--green-bird{
			bottom: 134px;
			right: 101px;

			background: url(../images/game/answers/green-bird.jpg) 50% 0 no-repeat;
			width: image-width('../assets/images/game/answers/green-bird.jpg');
			height: image-height('../assets/images/game/answers/green-bird.jpg');
		}


		&--parents{
			top: 0px;
			left: 0px;

			background: url(../images/game/answers/parents.jpg) 50% 0 no-repeat;
			width: image-width('../assets/images/game/answers/parents.jpg');
			height: image-height('../assets/images/game/answers/parents.jpg');
		}

		&--wolf-1{
			top: 90px;
			left: 163px;

			background: url(../images/game/answers/wolf-1.jpg) 50% 0 no-repeat;
			width: image-width('../assets/images/game/answers/wolf-1.jpg');
			height: image-height('../assets/images/game/answers/wolf-1.jpg');
		}

		&--wolf-2{
			top: 0px;
			right: 97px;

			background: url(../images/game/answers/wolf-2.jpg) 50% 0 no-repeat;
			width: image-width('../assets/images/game/answers/wolf-2.jpg');
			height: image-height('../assets/images/game/answers/wolf-2.jpg');
		}

		&--boy{
			top: 139px;
			right: 0px;

			background: url(../images/game/answers/boy.jpg) 50% 0 no-repeat;
			width: image-width('../assets/images/game/answers/boy.jpg');
			height: image-height('../assets/images/game/answers/boy.jpg');
		}

		&--visible{
			opacity: 1;
			visibility: visible;
		}
	}

	&__button{
		border: 0;
		background: none;
		//background: rgba(255,255,255,.5);
		min-width: 20px;
		min-height: 20px;
		display: block;
		border-radius: 15px;
		position: absolute;

		outline: none;
		cursor: pointer;
	}

	&__svg{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		cursor: pointer;

		path{
			fill: transparent;
			cursor: pointer;
			//fill: rgba(0,0,0,.9);
		}

		path:hover{
			fill: transparent;
		}
	}

}

.game-results{
	text-align: center;

	&__title{
		font-size: 36px;
		margin: 0 0 40px;
		text-transform: uppercase;
	}

	&__list{
		font-size: 26px;
		margin: 0 0 40px;
	}

	&__item{
		margin: 0 0 10px;
	}

	&__buttton-placeholder{
		
	}
}


/* ==========================================================================
 * stickers
 * ========================================================================== */

.stickers{


	&__title{
		font-size: 26px;
		margin: 0 0 30px;
		text-align: center;
		color: $orange;
	}

	&__text{
		margin: 0 0 30px;	
		font-size: 18px;
		text-align: center;
	}

	&__list{
		text-align: center;
		max-width: 1000px;
		margin: 0 0 0px;
	}

	&__item{
		display: inline-block;
		margin: 0 30px 50px;
	}

	&__button-placeholder{
		text-align: center;
	}
	
	&__people{
		margin: 0 0 30px;
	}

}

.stickers-item{

	&__label{
		display: block;
		position: relative;
		cursor: pointer;
	}

	&__input{
		position: absolute;
		left: -99999px;


		&:checked + .stickers-item__image-placeholder{
			//transform: scale(.98);
			box-shadow: 0 0 0 7px $orange;//,
						//0 0 10px rgba(255,255,255,1);
		}
	}

	&__image-placeholder{
		transition: all .2s;
		display: block;
		width: 185px;
		height: 185px;
		overflow: hidden;
		border-radius: 50%;
	}

	&__image{
		width: 100%;
		height: 100%;
	}
}


/* ==========================================================================
 * people
 * ========================================================================== */

.people{

	&__list{
		width: 500px;
		margin: auto;
		display: table;
		text-align: left;
	}

	&__item{
		display: table-row;
	}

	&__start,
	&__data{
		display: table-cell;
		vertical-align: bottom;
		padding: 15px 0;
	}

	&__start{
		overflow: hidden;
	}

	&__data{
		width: 50px;
		white-space: nowrap;
	}

	&__profile{
		display: inline-block;
		position: relative;
		&:after{
			content: '';
			border-bottom: 1px dashed;
			width: 1000px;
			position: absolute;
			bottom: 7px;
			left: 100%;
			margin: 0 0 0 3px;
		}
	}

	&__score{
		font-size: 20px;
		margin: 0 0 5px;
		&:last-child{
			margin-bottom: 0;
		}
	}

	&__avatar-placeholder{
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		margin: 0 10px 0 0;
	}

	&__avatar{
		width: 100%;
		height: auto;
	}

	&__name{
		font-size: 24px;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: middle;
	}



	&__send{
		display: inline-block;
		font-size: 18px;
		padding: 5px;
		text-transform: uppercase;
	}
}
